body {
    background-color: lightblue;
    margin: 0 auto;
    padding: 0 auto;
}

#section2 {
    background-color: #FFB6C1;
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        background-color: red;
    }

    #section2 {
    	background-color: #FFB6C1;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background-color: green;
    }

    img {
    	width: 300px;
    }

    #section2 {
    	background-color: #FFB6C1;
    }
}

@media (min-width: 1200px) {
    body {
        background-color: lightgreen;
    }

    #section2 {
    	background-color: #FFB6C1;
    }
    #sunsetImage {
    /*background-position: center top;*/
    background-size: cover;
    width: 100%;
    /*height: 1000px;*/
    background-repeat: no-repeat;
    } 

    #section3{
        background: color url('images/test-sunset.png') others;
        /*background-image: url("images/test-sunset.png");
        background-position: center top;
        background-size: cover;
        width: 100%;
        height: auto;
        background-repeat: no-repeat; */
    }


     /* Minskar gutter-avståndet */
    /*div[class^="col"]{padding-left:5px; padding-right:5px;}*/
}


/*#section3{
    background-image: url("images/test-sunset.png");
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}*/

#dateSection {
    background-color: white;
    width: 25%;
    height: 100%
}
